/*
Theme - Light
This CSS can only contains colors
*/
.useraccount{
    background-color: #012237;
    border-bottom: 1px solid #005A92;
}


.useraccount .uthumb{
    border:1px solid rgba(0, 0, 0, 0.90);
}


.useraccount .name, .useraccount a.name{
    color:#fff;
}

.left-panel{
    background-color: #01385B;
    border-right: 2px solid #012237;
}

.panel-close{
    background-color:#012237;
}


.panel-close:hover{
    background-color:#2E9AFE;
    color:#fff;
}


.panel-close i{
    color:#fff;
}



.panel-close i:hover{
    color:#2E9AFE;
}


.nav-vertical > li > a {
    color: #ccc;
}


.nav-vertical > li > a:hover,
.nav-vertical > li > a:active,
.nav-vertical > li > a:focus {
    background-color: #2E9AFE;
    color: #fff;
    -moz-box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}


.nav-vertical > li.nav-parent > a:focus {
    background-color: none;
    color: #8F939E;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-vertical > li.nav-parent > a:hover,
.nav-vertical > li.nav-parent > a:active {
    background-color: #2E9AFE;
    color: #fff;
}


.nav-vertical > li.nav-active > a {
    background-color: #fff;
    color: #1d2939;
    -moz-box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}


.nav-vertical > li.nav-active > a:hover {

    background-color: #2E9AFE;
    color: #fff;
}

.nav-vertical > li.active > a,
.nav-vertical > li.active > a:hover,
.nav-vertical > li.active > a:focus {
    background-color: #2E9AFE;
    color: #fff;
}

.nav-vertical > li.active > a {
    -moz-box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}


.nav-vertical > li.nav-active.active > a {

    background-color: #fff;
    color: #242424;
}

.nav-vertical > li.nav-active.active > a:hover {

    background-color: #2E9AFE;
    color: #fff;
}



.nav-vertical > li.nav-active > a:focus {
    color: #1d2939;
}

.nav-vertical .children > li > a {
    color: #ccc;
}

.nav-vertical .children > li > a:hover,
.nav-vertical .children > li > a:active,
.nav-vertical .children > li > a:focus {
    color: #2E9AFE;
}


.nav-vertical .children > li.active > a {
    color: #2E9AFE;
}


.nav-vertical .search input{
    background-color:#012237;
    color:#333;
    border:1px solid rgba(0,0,0,0.9);
}


.nav-vertical .search input:hover{
    background-color:#005A92;
    color:#000;
}

/*
Bootstrap overwrite
*/

/*-!!! Special setting for not blue or grey color themes-*/
.navbar-default{
    border:none;
    background-color:#012A44;
    color:#fff;
}

.navbar-default .navbar-brand {
    color: #eee;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
}


.navbar-default .navbar-nav>li>a {
    color: #eee;
}


.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}


.navbar-default .navbar-toggle {
    background-color:#012A44;
    border-color: #2E9AFE;
    color:#2E9AFE;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active{
    background-color:#0064A1;
}


nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #fff;
}

/*-END OF Special setting for not blue or grey color themes-*/


.panel-info>.panel-heading {
    color: #eee;
    background-color: #01385B;
    border-color: #012237;
}

.panel-info {
    border-color: #012237;
}

footer{
    background-color:#eee;
    color:#333333;
}